<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Interrogación 1</title>
    <style>
      body {
        background-color: #37474F;
        margin: 0;
        padding: 0;
      }
      .centered {
        width: 60%;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        margin: 40px auto;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <!-- Your code here -->
    </div>
  </body>
</html>
