<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Interrogación 1</title>
    <style>
      body {
        background-color: #37474F;
        margin: 0;
        padding: 0;
      }
      .centered {
        width: 60%;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        margin: 40px auto;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <!-- Your code here -->
      <h1><em>OK</em></h1>
      <p>200</p>
      <section class="headers">
        <h2>Headers</h2>
        <ul>
          <li><strong>Content-length</strong>: 8503</li>
          <li><strong>Date</strong>: Thu, 01 Oct 2020 00:29:18 GMT</li>
        </ul>
      </section>
      <section class="body">
        <h2>Body</h2>
        <ul>
          
            <li class="photo">
              <h3>accusamus beatae ad facilis cum similique qui sunt</h3>
              <img src="https://via.placeholder.com/150/92c952" />
            </li>
          
            <li class="photo">
              <h3>reprehenderit est deserunt velit ipsam</h3>
              <img src="https://via.placeholder.com/150/771796" />
            </li>
          
            <li class="photo">
              <h3>officia porro iure quia iusto qui ipsa ut modi</h3>
              <img src="https://via.placeholder.com/150/24f355" />
            </li>
          
            <li class="photo">
              <h3>culpa odio esse rerum omnis laboriosam voluptate repudiandae</h3>
              <img src="https://via.placeholder.com/150/d32776" />
            </li>
          
            <li class="photo">
              <h3>natus nisi omnis corporis facere molestiae rerum in</h3>
              <img src="https://via.placeholder.com/150/f66b97" />
            </li>
          
            <li class="photo">
              <h3>accusamus ea aliquid et amet sequi nemo</h3>
              <img src="https://via.placeholder.com/150/56a8c2" />
            </li>
          
            <li class="photo">
              <h3>officia delectus consequatur vero aut veniam explicabo molestias</h3>
              <img src="https://via.placeholder.com/150/b0f7cc" />
            </li>
          
            <li class="photo">
              <h3>aut porro officiis laborum odit ea laudantium corporis</h3>
              <img src="https://via.placeholder.com/150/54176f" />
            </li>
          
            <li class="photo">
              <h3>qui eius qui autem sed</h3>
              <img src="https://via.placeholder.com/150/51aa97" />
            </li>
          
            <li class="photo">
              <h3>beatae et provident et ut vel</h3>
              <img src="https://via.placeholder.com/150/810b14" />
            </li>
          
            <li class="photo">
              <h3>nihil at amet non hic quia qui</h3>
              <img src="https://via.placeholder.com/150/1ee8a4" />
            </li>
          
            <li class="photo">
              <h3>mollitia soluta ut rerum eos aliquam consequatur perspiciatis maiores</h3>
              <img src="https://via.placeholder.com/150/66b7d2" />
            </li>
          
            <li class="photo">
              <h3>repudiandae iusto deleniti rerum</h3>
              <img src="https://via.placeholder.com/150/197d29" />
            </li>
          
            <li class="photo">
              <h3>est necessitatibus architecto ut laborum</h3>
              <img src="https://via.placeholder.com/150/61a65" />
            </li>
          
            <li class="photo">
              <h3>harum dicta similique quis dolore earum ex qui</h3>
              <img src="https://via.placeholder.com/150/f9cee5" />
            </li>
          
            <li class="photo">
              <h3>iusto sunt nobis quasi veritatis quas expedita voluptatum deserunt</h3>
              <img src="https://via.placeholder.com/150/fdf73e" />
            </li>
          
            <li class="photo">
              <h3>natus doloribus necessitatibus ipsa</h3>
              <img src="https://via.placeholder.com/150/9c184f" />
            </li>
          
            <li class="photo">
              <h3>laboriosam odit nam necessitatibus et illum dolores reiciendis</h3>
              <img src="https://via.placeholder.com/150/1fe46f" />
            </li>
          
            <li class="photo">
              <h3>perferendis nesciunt eveniet et optio a</h3>
              <img src="https://via.placeholder.com/150/56acb2" />
            </li>
          
            <li class="photo">
              <h3>assumenda voluptatem laboriosam enim consequatur veniam placeat reiciendis error</h3>
              <img src="https://via.placeholder.com/150/8985dc" />
            </li>
          
        </ul>
      </section>
    </div>
  </body>
</html>
