<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Interrogación 1</title>
    <style>
      body {
        background-color: #37474F;
        margin: 0;
        padding: 0;
      }
      .centered {
        width: 60%;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        margin: 40px auto;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <!-- Your code here -->
      <h1>200 (<em>OK</em>)</h1>
      <section class="headers">
        <h2>Headers</h2>
        <ul>
          <li><strong>Content-type</strong>: application/json; charset=utf-8</li>
          <li><strong>Cache-control</strong>: max-age=43200</li>
        </ul>
      </section>
      <section class="body">
        <h2>Body</h2>
        <ul>
          
            <li class="todo">
              <h3>delectus aut autem</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>quis ut nam facilis et officia qui</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>fugiat veniam minus</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>et porro tempora</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>laboriosam mollitia et enim quasi adipisci quia provident illum</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>qui ullam ratione quibusdam voluptatem quia omnis</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>illo expedita consequatur quia in</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>quo adipisci enim quam ut ab</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>molestiae perspiciatis ipsa</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>illo est ratione doloremque quia maiores aut</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>vero rerum temporibus dolor</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>ipsa repellendus fugit nisi</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>et doloremque nulla</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>repellendus sunt dolores architecto voluptatum</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>ab voluptatum amet voluptas</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>accusamus eos facilis sint et aut voluptatem</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>quo laboriosam deleniti aut qui</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>dolorum est consequatur ea mollitia in culpa</h3>
              <p>Pending</p>
            </li>
          
            <li class="todo">
              <h3>molestiae ipsa aut voluptatibus pariatur dolor nihil</h3>
              <p>Completed</p>
            </li>
          
            <li class="todo">
              <h3>ullam nobis libero sapiente ad optio sint</h3>
              <p>Completed</p>
            </li>
          
        </ul>
      </section>
    </div>
  </body>
</html>
